
:root {
    --width: 500px;
    --height: 500px;
}

*{
    box-sizing: border-box;
}

[class^="path-ani"] {
    display: none;
    opacity: 0.5;
    r: 0.5;
    stroke: red;
}

.path-ani-1-1 {
    animation: path-ani-1 6s linear 0s infinite forwards;
    display: inline;
}

 .path-ani-1-2 {
    animation: path-ani-1 6s linear 1s infinite forwards;
    display: inline;
}

 .path-ani-1-3 {
    animation: path-ani-1 6s linear 2s infinite forwards;
    display: inline;
}

 .path-ani-1-4 {
    animation: path-ani-1 6s linear -3s infinite forwards;
    display: inline;
}

 .path-ani-1-5 {
    animation: path-ani-1 6s linear -1s infinite forwards;
    display: inline;
}

.path-ani-1-6 {
    animation: path-ani-1 6s linear -2s infinite forwards;
    display: inline;
}


.path-ani-2-1 {
    animation: path-ani-2 3s linear  infinite forwards;
    display: inline;
}
.path-ani-2-2 {
    animation: path-ani-2 3s linear -0.7s infinite forwards;
    display: inline;
}
.path-ani-2-3 {
    animation: path-ani-2 3s linear 1.4s infinite forwards;
    display: inline;
}
.path-ani-2-4 {
    animation: path-ani-2 3s linear -1.4s infinite forwards;
    display: inline;
}

.path-ani-2-4 {
    animation: path-ani-2 3s linear 0.7s infinite forwards;
    display: inline;
}

.path-ani-3-1 {
    animation: path-ani-3 6s linear 0s infinite forwards;
    display: inline;
}

 .path-ani-3-2 {
    animation: path-ani-3 6s linear 1s infinite forwards;
    display: inline;
}

 .path-ani-3-3 {
    animation: path-ani-3 6s linear 2s infinite forwards;
    display: inline;
}

 .path-ani-3-4 {
    animation: path-ani-3 6s linear -3s infinite forwards;
    display: inline;
}

 .path-ani-3-5 {
    animation: path-ani-3 6s linear -1s infinite forwards;
    display: inline;
}

.path-ani-3-6 {
    animation: path-ani-3 6s linear -2s infinite forwards;
    display: inline;
}

.path-ani-4-1 {
    animation: path-ani-4 1s linear  infinite forwards;
    display: inline;
}

.path-ani-5-1 {
    animation: path-ani-5 1.5s linear  infinite forwards;
    display: inline;
}
.path-ani-5-2 {
    animation: path-ani-5 1.5s linear 0.5s infinite forwards;
    display: inline;
}
.path-ani-5-3 {
    animation: path-ani-5 1.5s linear -0.5s infinite forwards;
    display: inline;
}

.path-ani-6-1 {
    animation: path-ani-6 2s linear  infinite forwards;
    display: inline;
}
.path-ani-6-2 {
    animation: path-ani-6 2s linear -0.7s infinite forwards;
    display: inline;
}
.path-ani-6-3 {
    animation: path-ani-6 2s linear -1.4s infinite forwards;
    display: inline;
}


.path-ani-7-1 {
    animation: path-ani-7 1s linear  infinite forwards;
    display: inline;
}

.path-ani-7-2 {
    animation: path-ani-7 1s linear -0.5s infinite forwards;
    display: inline;
}

.path-ani-8-1 {
    animation: path-ani-8 5s linear  infinite forwards;
    display: inline;
}

 .path-ani-8-2 {
    animation: path-ani-8 5s linear -2s infinite forwards;
    display: inline;
}

 .path-ani-8-3 {
    animation: path-ani-8 5s linear -1s infinite forwards;
    display: inline;
}

 .path-ani-8-4 {
    animation: path-ani-8 5s linear 1s infinite forwards;
    display: inline;
}

 .path-ani-8-5 {
    animation: path-ani-8 5s linear 2s infinite forwards;
    display: inline;
}

.path-ani-8-6 {
    animation: path-ani-8 5s linear 1.5s infinite forwards;
    display: inline;
}

.path-ani-8-7 {
    animation: path-ani-8 5s linear 2.5s infinite forwards;
    display: inline;
}

.circle-ani-1 {
    animation: circle-ani 10s ease 1s infinite;
}

.circle-ani-2 {
    animation: circle-ani 9s ease 4s infinite;
}

.circle-ani-3 {
    animation: circle-ani 4s ease 2s infinite;
}

.circle-ani-4 {
    animation: circle-ani 1s ease  infinite;
}

.circle-ani-5 {
    animation: circle-ani 6s ease-in-out  infinite;
}

.circle-ani-6 {
    animation: circle-ani 7s ease-in  infinite;
}

.circle-ani-7 {
    animation: circle-ani 1s step-start  infinite;
}

.circle-ani-8 {
    animation: circle-ani 7s linear  infinite;
}

@keyframes circle-ani {
    33.3% {
        fill: #2c648c;
    }
    66.6% {
        fill: #ffebee;
    }
    100% {
        fill: #6cbfda;
    }
}


@keyframes path-ani-1 {
    0% {
        cx: 42.6;
        cy: 28;
    }

    20% {
        cx: 42.6;
        cy: 35.8;
    }

    40% {
        cx: 38.6;
        cy: 39.8;
    }
    60% {
        cx: 38.6;
        cy: 46.8;
    }
    80% {
        cx: 42.2;
        cy: 50;
    }
    100% {
        cx: 42.2;
        cy: 55.5;
    }
}

@keyframes path-ani-2 {
    0% {
        cx: 47.85;
        cy: 57.4;
    }
    50% {
        cx: 47.85;
        cy: 46.4;
    }
    100% {
        cx: 42.8;
        cy: 42;
    }
}

@keyframes path-ani-3 {
    0% {
        cx: 48.77;
        cy: 27.5;
    }
    25% {
        cx: 48.77;
        cy: 38.8;
    }
    50% {
        cx: 52.3;
        cy: 42;
    }
    100% {
        cx: 60;
        cy: 42;
    }
}

@keyframes path-ani-4 {
    0% {
        cx: 54.378;
        cy: 27.5;
    }
    100% {
        cx: 54.378;
        cy: 34.7;
    }
}

@keyframes path-ani-5 {
    0% {
        cx: 51.1;
        cy: 57.4;
    }
    50% {
        cx: 51.1;
        cy: 52.5;
    }
    100% {
        cx: 54.9;
        cy: 49;
    }
}

@keyframes path-ani-6 {
    0% {
        cx: 60.89;
        cy: 27.5;
    }
    50% {
        cx: 60.89;
        cy: 33.6;
    }
    100% {
        cx: 65.1;
        cy: 37.12;
    }
}

@keyframes path-ani-7 {
    0% {
        cx: 63.2;
        cy: 57.4;
    }
    100% {
        cx: 63.2;
        cy: 49;
    }
}

@keyframes path-ani-8 {
    0% {
        cx: 68.7;
        cy: 57.4;
    }

    20% {
        cx: 68.7;
        cy: 48.9;
    }

    40% {
        cx: 72.8;
        cy: 45.2;
    }
    60% {
        cx: 72.8;
        cy: 38;
    }
    80% {
        cx: 69;
        cy: 34.7;
    }
    100% {
        cx: 69;
        cy: 30;
    }
}

body {
    background-color: #212121;
    margin: 0; 
    padding: 0px;
}


.test-out {
    color: #fff;
}

#test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-image: url("codersLodge.svg"); */ 
    background-position: 0px 40px;
    background-size: 500px 600px;
    border: 1px solid red;
    width: var(--width  );
    height: var(--height);
}

.svg {
    border: 1px solid red;
    width: var(--width);
    height: var(--height);
}

.svg .line {
    stroke: #acacac;
    stroke-width: 0.1px;
    stroke-opacity: 0.5;
}

